
body {
  background-color: rgb(150, 192, 178);
}

#board {
  width: 1425px;
  height: 750px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}
#walker {
  width: 50px;
  height: 100px;
  left: 100px; 
  top: 100px; 
  background-color: rgb(31, 180, 155);
}

 